*~
elpa/
cider-history
ido.last
.emacs.desktop
.emacs.desktop.lock
/recentf
/lisp/npm-debug.log
/#init.el#
/eshell/
/url/
/saved-places
/semanticdb/
/ac-comphist.dat
/tramp
/bryan-bak
unused.el
ideas-for-hangout-topics.org
/helm-adaptive-history
/projectile-bookmarks.eld
/network-security.data
/abbrev_defs
/bookmarks
