[submodule "lisp/web-mode"]
	path = lisp/web-mode
	url = git@github.com:fxbois/web-mode.git
[submodule "lisp/jade-mode"]
	path = lisp/jade-mode
	url = git@github.com:brianc/jade-mode.git
[submodule "lisp/tuareg"]
	path = lisp/tuareg
	url = git@github.com:ocaml/tuareg.git
[submodule "lisp/helm-swoop"]
	path = lisp/helm-swoop
	url = git@github.com:ShingoFukuyama/helm-swoop.git
[submodule "lisp/helm-company"]
	path = lisp/helm-company
	url = https://github.com/yasuyk/helm-company
[submodule "lisp/helm-descbinds"]
	path = lisp/helm-descbinds
	url = git@github.com:emacs-helm/helm-descbinds.git
[submodule "themes/cyberpunk-theme.el"]
	path = themes/cyberpunk-theme.el
	url = git@github.com:bryangarza/cyberpunk-theme.el.git
[submodule "themes/noctilux-theme"]
	path = themes/noctilux-theme
	url = https://github.com/stafu/noctilux-theme
[submodule "lisp/elisp-slime-nav"]
	path = lisp/elisp-slime-nav
	url = git@github.com:purcell/elisp-slime-nav.git
[submodule "lisp/evil-leader"]
	path = lisp/evil-leader
	url = git@github.com:cofi/evil-leader.git
[submodule "lisp/use-package"]
	path = lisp/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "lisp/smooth-scrolling"]
	path = lisp/smooth-scrolling
	url = git@github.com:aspiers/smooth-scrolling.git
[submodule "lisp/org-present"]
	path = lisp/org-present
	url = git@github.com:rlister/org-present.git
[submodule "themes/color-theme-ujelly"]
	path = themes/color-theme-ujelly
	url = git@github.com:marktran/color-theme-ujelly.git
[submodule "lisp/org-mode"]
	path = lisp/org-mode
	url = git://orgmode.org/org-mode.git
